@{
    ViewBag.Title = "About";
}
<h1>Something about Mokau Masemola</h1>
<h4>
    A brief descrpition of who is Moaku
</h4>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Bio</h1>
            Mokau Masemola is down to earth young man. Some say that I am too humble. I am passionate about programming. I have a love for animals especially dogs.
            I do have a dog, her name is Coco. She is an American Pitbull Terrier. A lot of people do not understand this, they think it is a vicious breed.
            I consider myself an ambassador for Pitbull breed, my aim is to educate people about the breed. I am currently studying towards a Bcom Informatics degree.
            The reason why I chose this degree is because I am fascinated by the world of Information Technology and business.
        </div>
        <div class=" col-sm-6">
            <h1>Mokau Masemola</h1>
           <img class="img-responsive" src="~/Media/MokauPic.jpg" />
          
        </div>
    </div>
</div>
